<form [formGroup]="form" class="flex flex-column gap-6">
  <div class="flex flex-column gap-2 w-full">
    <label [for]="FIELDS.TITLE">Title</label>
    <input pInputText [id]="FIELDS.TITLE" [formControlName]="FIELDS.TITLE" />
  </div>

  <div class="flex flex-column gap-2 w-full">
    <label [for]="FIELDS.DESCRIPTION">Description</label>
    <textarea
      pTextarea
      height="2.5rem"
      [id]="FIELDS.DESCRIPTION"
      [formControlName]="FIELDS.DESCRIPTION"
      rows="3"
    ></textarea>
  </div>

  <div class="flex flex-column gap-2 w-full">
    <label [for]="FIELDS.LOCATION">Location</label>
    <input
      pInputText
      [id]="FIELDS.LOCATION"
      [formControlName]="FIELDS.LOCATION"
    />
  </div>

  <ng-content></ng-content>

  <div class="flex justify-content-end gap-2 mt-4">
    <p-button text label="Cancel" (click)="onCancel.emit()"></p-button>
    <p-button
      label="Save"
      (click)="onSave.emit()"
      [disabled]="form.invalid"
    ></p-button>
  </div>
</form>
